.env
.env.local
.env.*.local

tmp/
build-errors.log

main
main.exe
/bin/
/dist/

# Go
go.work
go.work.sum
vendor/

node_modules/
.next/
out/

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
*.g.dart

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

*.log

*.out
coverage.html